#name_display1 img {
  width: 30px;
  margin-top: 13px;
}

.notices-box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding-bottom: 3px;
  margin-bottom: 8px;
}

#logout {
  background-color: red;
  width: 150px;
  color: white;
}

#back {
  background-color: red;
  width: 150px;
  color: white;
}

#report {
  background-color: red;
  width: 150px;
  color: white;
}

#contact {
  background-color: yellow;
  width: 150px;
  color: black;
}

/*Item Selection*/
::selection {
  background-color: black;
  color: white;
}

img::selection {
  background-color: #3390ff;
  color: white;
}

iframe::selection {
  background-color: #3390ff;
  color: white;
}

/*Scroll Bar*/

::-webkit-scrollbar {
  width: 1.25em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(red, blue);
  border: 0.25em solid white;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
}

@supports (scrollbar-color: lightgreen DarkGreen) {
  * {
    scrollbar-color: hsl(120 100% 20% / 1) hsl(120 75% 50% / 1);
  }
}
